<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>연산</title>
</head>
<body>

<h1>연산</h1>
<!-- thymeleaf에서의 연산은 기본적으로 Java와 동일하나, HTML상에서 작성하므로 HTML 엔티티에 주의하여야 한다. -->
<ul>
	<li>산술 연산
		<ul>
			<li>10 + 2 = <span th:text="10 + 2"></span></li>
			<li>10 % 2 == 0 = <span th:text="10 % 2 == 0"></span></li>
		</ul>
	</li>

	<li>비교 연산
		<ul>
			<li>1 > 10 = <span th:text="1 > 10"></span></li>
			<li>1 gt 10 = <span th:text="1 gt 10"></span></li>
			<li>1 >= 10 = <span th:text="1 >= 10"></span></li>
			<li>1 ge 10 = <span th:text="1 ge 10"></span></li>
			<li>1 == 10 = <span th:text="1 == 10"></span></li>
			<li>1 != 10 = <span th:text="1 != 10"></span></li>
		</ul>
	</li>

	<li>비교 연산
		<ul>
			<li>1 > 10 = <span th:text="1 > 10"></span></li>
			<li>1 gt 10 = <span th:text="1 gt 10"></span></li>  <!-- HTML 엔티티 -->
			<li>1 >= 10 = <span th:text="1 >= 10"></span></li>
			<li>1 ge 10 = <span th:text="1 ge 10"></span></li>  <!-- HTML 엔티티 -->
			<li>1 == 10 = <span th:text="1 == 10"></span></li>
			<li>1 != 10 = <span th:text="1 != 10"></span></li>
		</ul>
	</li>

	<li>조건식
		<ul>
			<li>(10 % 2 == 0) ? '짝수':'홀수' = <span th:text="(10 % 2 == 0) ? '짝수':'홀수'"></span></li>
		</ul>
	</li>

	<li>Elvis 연산자
		<!--
		조건식을 보다 편리하게 사용하기 위한 연산자이다.
		${data} ?: '데이터가 없습니다.'  의 경우,
		앞의 data가 유효할 경우 이를 출력하며, null값인 경우 뒤의 '데이터가 없습니다.'를 출력한다.
		-->
		<ul>
			<li>${data} ?: '데이터가 없습니다.' = <span th:text="${data} ?: '데이터가 없습니다.'"></span></li>
			<li>${nullData} ?: '데이터가 없습니다.' = <span th:text="${nullData} ?: '데이터가 없습니다.'"></span></li>
		</ul>
	</li>

	<li>No-Operation
		<!--
		No-Operation _는 기본적으로 Elvis 연산자와 동일하되,
		data가 null값인 경우 아무 동작도 수행하지 않는다.
		즉 이 경우 thymeleaf가 무효 처리되어(=렌더링되지 않아) 기본값인 '데이터가 없습니다.'가 출력된다.
		-->
		<ul>
			<li>${data} ?: _ = <span th:text="${data} ?: _">데이터가 없습니다.</span></li>
			<li>${nullData} ?: _ = <span th:text="${nullData} ?: _">데이터가 없습니다.</span></li>
		</ul>
	</li>
</ul>

</body>
</html>