<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <title>상품 목록</title>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>상품 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/items/add}'|"
                    type="button">상품 등록</button>
<!-- 다음 두 구문은 동일하다.
th:onclick="|location.href = '@{/basic/items/add}'|"  기본 문법
th:onclick="'location.href = ' + '@{basic/items/add}'"  리터럴 대체 문법
-->
        </div>
    </div>

    <hr class="my-4">

    <div>
        <table class="table">
            <caption class="visually-hidden">상품 목록</caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item:${items}">
                <td><a href="item.html" th:href="@{/basic/items/{itemId} (itemId = ${item.id})}" th:text="${item.id}">회원 ID</a></td>
                <!-- 리터럴 대체 문법: th:href="@{|/basic/items/${item.id}|}" -->
                <td><a href="item.html" th:href="@{/basic/items/{itemId} (itemId = ${item.id})}" th:text="${item.itemName}">상품명</a></td>
                <td th:text="${item.price}">가격</td>
                <td th:text="${item.quantity}">수량</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>